#about-section4 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(170, 169, 169);
}

.section-4-header {
  text-align: center;
  color: rgb(128, 229, 247);
}
.section4-ul {
  position: relative;
  width: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  margin: 22.3% 2%;
  z-index: 101;
}
