#about-section4 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #333;
}

.cave {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  z-index: 90;
}

.section-4-header {
  text-align: center;
  color: rgb(128, 229, 247);
}
.section4-ul {
  position: relative;
  width: 20px;
  top: 50px;
  display: flex;
  flex-direction: column;
  margin: 22.3% 2%;
  color: 0 0 10px 0 rgb(36, 222, 247);
  z-index: 104;
}

.color-sec4 {
  color: rgb(36, 222, 247);
}

/*******************CARD*********************/

/*******************CARD*********************/

/*******************CARD*********************/

/*******************CARD*********************/

.aboutme-container {
  display: flex;

  background: #333;
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
}

.aboutme-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 150px;
  left: 0;
  overflow: hidden;
  z-index: 101;
}

.fa-node-js {
  position: relative;
  top: 0px;
  left: 40px;
  font-size: 30px;
  color: rgb(21, 214, 21);
  transition: transform 1s ease-in-out;
}

.fa-css3-alt {
  position: relative;
  top: 80px;
  left: -30px;
  font-size: 30px;
  color: rgb(21, 143, 214);
  transition: transform 1s ease-in-out;
}

.fa-html5 {
  position: relative;
  top: 80px;
  left: 25px;
  font-size: 30px;
  color: rgb(245, 119, 35);
  transition: transform 1s ease-in-out;
}

.fa-laptop-code {
  position: relative;
  top: 50px;
  left: -50px;
  font-size: 0px;
  color: #333;
  transition: font-size 1s ease-in-out;
}
#about-section4:hover .fa-laptop-code {
  font-size: 30px;
  transition-delay: 1s;
}

.fa-js-square {
  position: relative;
  top: 50px;
  left: -50px;
  font-size: 15px;
  border: 2px solid rgb(220, 250, 48);
  background: #333;
  color: rgb(220, 250, 48);
}

/****************ME-IMG**************/
.me-img {
  position: relative;
  width: 200px;
  height: 287px;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid #333;
  /*
  background: rgb(128, 229, 247);
  */
  overflow: hidden;
  background: #111;
}

.me-img-p {
  position: relative;
  top: 2px;
  left: 10px;
  font-size: 25px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  color: ivory;
}
.me-img-p1 {
  position: relative;
  top: 2px;
  left: 30px;
  font-size: 20px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  color: ivory;
}

.head {
  position: relative;
  top: 75px;
  margin: 0 auto;
  width: 70px;
  height: 80px;
  border-radius: 0 0 50% 50%;
  border-bottom: 3px solid rgb(126, 65, 9);
  background: rgb(247, 218, 123);
  z-index: 100;
}

.hat-base {
  position: relative;
  width: 72px;
  height: 15px;
  top: 0px;
  margin: 0 auto;
  border-radius: 4px 4px 2px 2px;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.21);
  background: rgb(82, 81, 81);
  z-index: 100;
}

.hat-top {
  position: relative;
  width: 72px;
  height: 28px;
  top: -40px;
  margin: 0 auto;
  border-radius: 100% 100% 0 0;
  background: rgb(82, 81, 81);
  z-index: 101;
}

.hat-logo {
  position: relative;
  width: 10px;
  height: 10px;
  top: -50px;
  margin: 0 auto;
  border-radius: 1px;
  background: ivory;
  z-index: 101;
}

.hat-emblum {
  position: relative;
  width: 5px;
  top: -59px;
  margin: 0 auto;
  font-size: 8px;
  font-weight: 900;
  color: rgb(219, 199, 12);
  z-index: 101;
}

.hat-bill {
  position: relative;
  width: 73px;
  height: 9px;
  top: -55px;
  margin: 0 auto;
  transform: rotate(180deg);
  border-radius: 0 0 100% 100%;
  border: 1px solid #333;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.31), 0 -5px 5px rgba(0, 0, 0, 0.21);
  background: rgb(99, 98, 98);
  z-index: 103;
}

.hat-hair {
  position: relative;
  width: 72px;
  height: 30px;
  top: -55px;
  margin: 0 auto;
  border-top: 1px solid rgb(143, 83, 6);
  border-radius: 40% 40% 28px 28px;
  background: rgb(247, 218, 123);
  box-shadow: 0 -10px 1px rgba(0, 0, 0, 0.31);
  z-index: 102;
}

.left-ear {
  position: relative;
  width: 10px;
  height: 15px;
  top: -80px;
  left: 55px;
  border-radius: 50px 0 0 100px;
  background: rgb(247, 218, 123);
  border: 1px solid rgba(66, 65, 65, 0.548);
  z-index: 90;
}

.right-ear {
  position: relative;
  width: 10px;
  height: 15px;
  top: -95px;
  left: 133px;
  border-radius: 0 50px 100px 0;
  background: rgb(247, 218, 123);
  border: 1px solid rgba(66, 65, 65, 0.548);
  z-index: 90;
}

.left-eye {
  position: relative;
  width: 20px;
  height: 15px;
  top: -105px;
  left: 75px;
  border-radius: 50% 50% 30% 50%;
  background: ivory;
  z-index: 102;
}

.left-pupil {
  position: relative;
  width: 5px;
  height: 5px;
  top: 5px;
  margin: 0px auto;
  border-radius: 50%;
  background: #333;
}

#about-section4:hover .left-pupil {
  animation: eyes 10s linear forwards, none;
  animation-delay: 1.5s;
}

.right-eye {
  position: relative;
  width: 20px;
  height: 15px;
  top: -120px;
  left: 103px;
  border-radius: 50% 50% 50% 30%;
  background: ivory;
  z-index: 102;
}

.right-pupil {
  position: relative;
  width: 5px;
  height: 5px;
  top: 5px;
  margin: 0px auto;
  border-radius: 50%;
  background: #333;
}

#about-section4:hover .right-pupil {
  animation: eyes 10s linear forwards, none;
  animation-delay: 1.5s;
}

@keyframes eyes {
  0% {
    left: 0px;
  }
  10% {
    left: 3px;
    top: 8px;
  }
  20% {
    left: -3px;
    top: 5px;
  }
  40% {
    left: 3px;
    top: 2px;
  }
  60% {
    left: -2px;
    top: 2px;
  }
  61% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.mouth {
  position: relative;
  width: 10px;
  height: 1px;
  top: -105px;
  margin: 0 auto;
  background: rgb(2, 2, 2);
  z-index: 101;
}

#about-section4:hover .mouth {
  animation: smile 1s linear forwards, none;
  animation-delay: 10.5s;
}

@keyframes smile {
  0% {
    width: 10px;
    height: 1px;
  }
  100% {
    width: 15px;
    height: 10px;
    border-radius: 3px 3px 50% 50%;
  }
}

.teeth {
  position: relative;
  width: 13px;
  height: 2px;
  margin: 0 auto;
  opacity: 0;
  background: rgb(252, 242, 252);
}

#about-section4:hover .teeth {
  animation: teeth 1s linear forwards, none;
  animation-delay: 10.5s;
}

@keyframes teeth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.neck {
  position: relative;
  width: 20px;
  height: 40px;
  margin: 0 auto;
  top: -114px;
  background: rgb(247, 218, 123);
  z-index: 99;
}

.chair {
  position: relative;
  width: 120px;
  height: 100px;
  margin: 0 auto;
  top: -125px;
  left: -1px;
  background: #333;
  border: 2px solid rgb(32, 31, 31);
  border-radius: 100% 100% 150% 150%;
  z-index: 98;
}

#about-section4:hover .chair {
  animation: chair 1s linear forwards, none;
  animation-delay: 10.5s;
}

@keyframes chair {
  0% {
    top: -125px;
  }
  100% {
    top: -134px;
  }
}

.body {
  position: relative;
  width: 100px;
  height: 90px;
  top: -215px;
  margin: 0 auto;
  border-radius: 25px 25px 0 0;
  border: 1px solid #111;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.31);
  /*background: rgb(88, 88, 88);*/
  background: rgb(255, 0, 0);
  z-index: 101;
}

#about-section4:hover .body {
  animation: body 1s linear forwards, none;
  animation-delay: 10.5s;
}

@keyframes body {
  0% {
    top: -215px;
  }
  100% {
    top: -224px;
  }
}

.laptop {
  position: relative;
  width: 80px;
  height: 60px;
  top: -295px;
  margin: 0 auto;
  border: 1px solid #333;
  box-shadow: 0 0 15px 1px rgb(221, 221, 136), 0 0 2px 1px rgb(236, 236, 187),
    0 0px 40px 10px rgb(255, 255, 255);
  border-radius: 5px 5px 25% 25%;
  background: rgb(0, 0, 0);
  overflow: hidden;
  z-index: 103;
}
#about-section4:hover .laptop {
  animation: laptop 1s linear forwards, none;
  animation-delay: 10.5s;
}

@keyframes laptop {
  0% {
    top: -295px;
  }
  100% {
    top: -304px;
  }
}

.fa-pepper-hot {
  position: relative;
  left: 28px;
  top: 14px;
  color: rgb(253, 14, 14);
  z-index: 104;
}
#about-section4:hover .fa-pepper-hot {
  animation: pepper-logo 1s linear forwards, none;
  animation-delay: 10.5s;
}
@keyframes pepper-logo {
  0% {
    color: rgb(253, 14, 14);
  }
  100% {
    z-index: 104;
    color: #fff;
  }
}

.fa-code {
  position: relative;
  left: -22px;
  top: -5px;
  font-size: 10px;
  transform: rotate(30deg);
  color: rgb(48, 236, 250);
}

.fa-css3 {
  position: relative;
  left: 45px;
  top: 5px;
  font-size: 25px;
  transform: rotate(40deg);
  color: rgb(53, 167, 243);
  z-index: 105;
}

.fa-sass {
  position: relative;
  left: -45px;
  top: 25px;
  font-size: 18px;
  transform: rotate(105deg);
  color: rgb(243, 63, 132);
  z-index: 105;
}

.fa-code-branch {
  position: relative;
  left: 65px;
  top: -30px;
  transform: rotate(-200deg);
  font-size: 15px;
  color: orange;
}

.fa-js-square {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 5px;
  transform: rotate(-45deg);
  border: 2px solid rgb(220, 250, 48);
  background: #333;
  color: rgb(220, 250, 48);
}

.left-hand {
  position: relative;
  height: 10px;
  width: 20px;
  top: -315px;
  left: -45px;
  transform: rotate(-10deg);
  margin: 0 auto;
  border: 1px solid #111;
  box-shadow: 0 -2px 100px rgb(0, 0, 0);
  border-radius: 15px 50px 0 0;
  background: rgb(247, 218, 123);
  z-index: 102;
}
#about-section4:hover .left-hand {
  animation: hand 1s linear forwards, none;
  animation-delay: 10.5s;
}
@keyframes hand {
  0% {
    top: -315px;
  }
  100% {
    top: -324px;
  }
}

.window {
  position: relative;
  top: -595px;
  left: 90px;
  width: 100px;
  height: 130px;
  background: rgba(7, 7, 119, 0.562);
  border: 2px solid rgb(48, 47, 47);
  box-shadow: -3px 3px 6px 0px rgba(255, 255, 255, 0.425),
    -5px 10px 30px 0 rgba(255, 255, 255, 0.699);
  z-index: 80;
  overflow: hidden;
}
#about-section4:hover .window {
  animation: window 1s linear forwards, none;
  animation-delay: 10.5s;
}

@keyframes window {
  0% {
    top: -595px;
  }
  100% {
    top: -604px;
  }
}

.about-me-img {
  position: relative;
  width: 100px;
  height: 130px;
}

.about-me-img-moon {
  position: relative;
  z-index: 90;
  top: -180px;
  left: 43px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 82;
}

.vertical-bar {
  position: relative;
  width: 4px;
  height: 140px;
  top: -240px;
  margin: 0 auto;
  background: #111;
  box-shadow: inset -1px 0 2px rgba(255, 255, 255, 0.411);
  z-index: 85;
}

.hori-bar {
  position: relative;
  width: 120px;
  height: 4px;
  top: -310px;
  margin: 0 auto;
  background: #111;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.411);
  z-index: 85;
}

.me-img-p2 {
  position: relative;
  top: -670px;
  font-size: 30px;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  color: ivory;
}
#about-section4:hover .me-img-p2 {
  animation: firstname 1s linear forwards, none;
  animation-delay: 10.5s;
}
@keyframes firstname {
  0% {
    top: -670px;
  }
  100% {
    top: -679px;
  }
}

.me-img-p3 {
  position: relative;
  top: -670px;
  left: 1px;
  font-size: 16px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  color: ivory;
}
#about-section4:hover .me-img-p3 {
  animation: lastname 1s linear forwards, none;
  animation-delay: 10.5s;
}
@keyframes lastname {
  0% {
    top: -670px;
  }
  100% {
    top: -679px;
  }
}

.outlet-container {
  position: relative;
  width: 21px;
  height: 21px;
  top: -700px;
  left: 170px;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(83, 64, 64, 0.74);
  border: 1px solid rgb(39, 39, 37);
  z-index: 104;
}
#about-section4:hover .outlet-container {
  animation: outlet 1s linear forwards, none;
  animation-delay: 10.5s;
}
@keyframes outlet {
  0% {
    top: -700px;
  }
  100% {
    top: -709px;
  }
}

.outlet-body {
  position: relative;
  width: 13px;
  height: 13px;
  top: 3px;
  left: 3px;
  border-radius: 5px 5px 5px 5px;
  background: rgb(68, 68, 65);
}

.outlet-hole1 {
  position: relative;
  width: 2px;
  height: 4px;
  top: 3px;
  left: -1px;
  margin: 0 auto;
  background: #111;
}

.outlet-hole2 {
  position: relative;
  width: 2px;
  height: 4px;
  top: -1px;
  left: 3px;
  margin: 0 auto;
  background: #111;
}

.outlet-hole3 {
  position: relative;
  width: 4px;
  height: 3px;
  top: 0px;
  left: 1px;
  margin: 0 auto;
  border-radius: 2px 2px 0 0;
  background: #111;
}

.clock-container {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  top: -800px;
  border-radius: 5px;
  border: 3px solid rgb(34, 32, 32);
  box-shadow: 0px 5px 15px 0 rgb(66, 66, 66);
  transition: tranform 10.5s ease-in-out;
  z-index: 90;
}

#about-section4:hover .clock-container {
  animation: clock 1s linear forwards, none;
  animation-delay: 10.5s;
}

@keyframes clock {
  0% {
    top: -800px;
  }
  100% {
    top: -809px;
  }
}

#time {
  position: relative;
  font-size: 12px;
  color: rgb(167, 11, 11);
  font-weight: 900;
  z-index: 90;
}
/***************END-OF-ME-ANIMATION************/
/***************END-OF-ME-ANIMATION************/
/***************END-OF-ME-ANIMATION************/
/***************END-OF-ME-ANIMATION************/
/***************END-OF-ME-ANIMATION************/
/***************END-OF-ME-ANIMATION************/
/***************END-OF-ME-ANIMATION************/
/***************END-OF-ME-ANIMATION************/
/***************END-OF-ME-ANIMATION************/
.aboutme-p {
  text-align: center;
  margin: 50px 0 50px 0;
  line-height: 30px;
  color: rgb(40, 228, 253);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 2px;
  max-width: 600px;
  min-width: 350px;
}

.skyline-about {
  position: absolute;
  bottom: 0;
  z-index: 80;
}
