#footer-section {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  border-top: 3px solid #333;
  box-shadow: 0 4px 15px rgba(42, 226, 250, 0.658);
  background-color: rgb(81, 181, 199);
}

.footer-nav {
  width: 30%;
  margin: 0 auto;
}

.footer-ul {
  text-align: center;
}

.footer-flex {
  display: flex;
}

.fa-linkedin {
  color: ivory;
  padding: 20px;
  font-size: 35px;
}

.fa-linkedin:hover {
  cursor: pointer;
  color: rgb(208, 218, 219);
  transition: 0.4s;
  text-shadow: 0px 0px 2px rgb(54, 196, 240);
}

.fa-github-square {
  color: ivory;
  padding: 20px 0px 0 0;
  font-size: 35px;
}

.fa-github-square:hover {
  cursor: pointer;
  color: rgb(208, 218, 219);
  transition: 0.4s;
  text-shadow: 0px 0px 2px rgb(54, 196, 240);
}

.copyrights {
  position: relative;
  color: ivory;
  font-size: 13px;
  font-family: "Playfair Display", serif;
  top: 30px;
  letter-spacing: 4px;
  flex: 1;
}

@media only screen and (max-width: 3442px) and (min-width: 3438px) and (max-height: 1442px) and (min-height: 1438px) {
  .footer-nav {
    width: 15%;
  }
}
