#projects-section3 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(21, 35, 68);
}
/*****************PROJECT 1 DISPLAY******************/
#project1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  position: relative;
  width: 100%;
  min-width: 200px;
  height: 100vh;
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
  background: rgba(29, 29, 44, 0.918);
  z-index: 106;
  font-family: "Playfair Display", serif;
}

.project1-transition {
  top: -1500px;
}

.project-img-flex {
  display: flex;
}

.project1-video {
  position: relative;
  height: 200px;
  left: -20px;
  border: 1px solid rgba(161, 159, 159, 0.603);
  border-radius: 5px;
  box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.555);
}

.project1-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50px;
  left: 0px;
  z-index: 150;
}

.project1-h2 {
  position: relative;
  padding: 10px;
}

.project1-link {
  position: relative;
  left: -30px;
  color: ivory;
}

.project1-code {
  position: relative;
  left: -25px;
  color: ivory;
}

.project1-p {
  position: relative;
  width: 600px;
  font-size: 15px;
  letter-spacing: 2px;
  word-spacing: 2px;
  padding: 50px 10px 0 10px;
}

#project-selection-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  top: 20%;
  z-index: 105;
}

.pr1 {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

.project1-back-btn-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  top: 30px;
  left: 0px;
  padding: 1px 3px 1px 3px;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 3px 5px 8px 5px rgba(0, 0, 0, 0.31);
}

#project1-back-btn {
  font-size: 15px;
  transform: rotate(90deg);
  cursor: pointer;
}

.project1-back-btn-container:hover #project1-back-btn {
  color: rgb(173, 169, 169);
  transition: 0.2s ease-in-out;
}

/*****************PROJECT 1 DISPLAY END******************/

/*****************PROJECT 2 DISPLAY******************/
#project2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100%;

  height: 100vh;
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
  background: rgba(29, 29, 44, 0.918);
  z-index: 106;
  font-family: "Playfair Display", serif;
}

.project2-transition {
  top: -1500px;
}
.project2-h2-2ndclass {
  position: relative;
  left: 0px;
}

.project2-link {
  left: 0px;
}

.project2-code {
  left: 5px;
}

.pr2 {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

.project2-back-btn-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  top: 30px;
  left: 0px;
  padding: 1px 3px 1px 3px;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 3px 5px 8px 5px rgba(0, 0, 0, 0.31);
}

#project2-back-btn {
  font-size: 15px;
  transform: rotate(90deg);
  cursor: pointer;
}

.project2-back-btn-container:hover #project1-back-btn {
  color: rgb(173, 169, 169);
  transition: 0.2s ease-in-out;
}

/*****************PROJECT 2 DISPLAY END******************/
/*****************PROJECT 3 DISPLAY******************/
#project3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
  background: rgba(29, 29, 44, 0.918);
  z-index: 106;
  font-family: "Playfair Display", serif;
}

.project3-transition {
  top: -1500px;
}

.project3-column {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 150;
}

.project3-h2 {
  position: relative;
  margin-bottom: 20px;
  top: 130px;
}

.project3-site {
  position: relative;
  top: 130px;
  left: -20px;
  color: #fff;
}

.project3-code {
  position: relative;
  top: 130px;
  left: -15px;
  color: #fff;
}

.project-img-flex {
  display: flex;
}

.project3-video {
  position: relative;
  left: -30px;
  border: 1px solid rgba(161, 159, 159, 0.603);
  border-radius: 5px;
  box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.555);
}

.project3-p {
  position: relative;
  width: 650px;
  font-size: 15px;
  letter-spacing: 2px;
  word-spacing: 2px;
  padding: 50px 10px 0 10px;
}

.none-deployment {
  font-weight: 900;
  color: rgb(255, 0, 0);
}

.pr3 {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}
@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.project3-back-btn-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  top: 10px;
  left: 0px;
  padding: 1px 3px 1px 3px;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: 3px 5px 8px 5px rgba(0, 0, 0, 0.31);
}

#project3-back-btn {
  font-size: 15px;
  transform: rotate(90deg);
  cursor: pointer;
}

.project3-back-btn-container:hover #project3-back-btn {
  color: rgb(173, 169, 169);
  transition: 0.2s ease-in-out;
}

/*****************PROJECT 3 DISPLAY END******************/

.section-3-header {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  top: -900px;
  color: #fff;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 20px;
  z-index: 110;
}

.moon {
  position: absolute;
  top: -350px;
  left: -350px;
  border-radius: 50%;
  filter: drop-shadow(0 0 100px rgb(255, 255, 255));
  transition: transform 2s ease-in-out;
  z-index: 100;
}

.plane {
  position: absolute;
  top: 50px;
  left: -120px;
  transition: transform 75s ease;
  z-index: 110;
}

#projects-section3:hover .plane {
  transform: translate(4000px, 0px);
}

.plane-red {
  position: absolute;
  left: -110px;
  top: 72px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: rgb(255, 0, 0);
  transition: transform 75s ease;
  z-index: 110;
  animation: redlight 2s linear infinite;
}

#projects-section3:hover .plane-red {
  transform: translate(4000px, 0px);
}

@keyframes redlight {
  0% {
    background-color: rgb(255, 0, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 0 0 30px 1px rgba(255, 255, 255, 0.712),
      0 0 30px 1px rgba(255, 255, 255, 0.562);
  }
  100% {
    background-color: rgba(248, 13, 13, 0.747);
    box-shadow: 0 0 30px 1px rgba(248, 13, 13, 0.712),
      0 0 30px 1px rgba(248, 13, 13, 0.562);
  }
}

.plane-green {
  position: absolute;
  left: -110px;
  top: 53px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: rgba(2, 255, 65, 0.747);
  transition: transform 75s ease;
  z-index: 110;
  animation: greenlight 2s linear infinite;
}

@keyframes greenlight {
  0% {
    background-color: rgba(2, 255, 65, 0.747);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 0 0 30px 1px rgba(255, 255, 255, 0.712),
      0 0 30px 1px rgba(255, 255, 255, 0.562);
  }
  100% {
    background-color: rgba(2, 255, 65, 0.747);
    box-shadow: 0 0 30px 1px rgba(2, 255, 65, 0.747),
      0 0 30px 1px rgba(2, 255, 65, 0.747);
  }
}

#projects-section3:hover .plane-green {
  transform: translate(4000px, 0px);
}

.project-numbers {
  margin: 0 200px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

.section3-ul {
  position: relative;
  top: -970px;
  width: 20px;
  display: flex;
  flex-direction: column;
  margin: 22.3% 2%;
  z-index: 105;
}

.color-sec3 {
  position: relative;
  color: #fff;
  z-index: 100;
}

.section3-skyline-img {
  position: absolute;
  bottom: -680px;
  left: 0;
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  transition: transform 800ms ease-in-out;
  z-index: 104;
}

#projects-section3:hover .section3-skyline-img {
  transform: translate(0px, -680px);
}

/********************TRAFFIC-SECTION********************/
/********************TRAFFIC-SECTION********************/
/********************TRAFFIC-SECTION********************/
/********************TRAFFIC-SECTION********************/
/********************TRAFFIC-SECTION********************/
/********************TRAFFIC-SECTION********************/
/********************TRAFFIC-SECTION********************/
/********************TRAFFIC-SECTION********************/
/********************TRAFFIC-SECTION********************/
/********************TRAFFIC-SECTION********************/
/********************TRAFFIC-SECTION********************/

.sec3-traffic-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 104;
}

.amb-1 {
  position: relative;
  top: 18px;
  left: 50px;
  float: right;
  transition: transform 20s ease-in-out;
  z-index: 97;
}

#projects-section3:hover .amb-1 {
  transform: translate(-2100px, 0px);
  transition-delay: 15s;
}

.amb-2 {
  position: absolute;
  top: 17px;
  left: -50px;
  transition: transform 20s ease-in-out;
  z-index: 98;
}

#projects-section3:hover .amb-2 {
  transform: translate(2100px, 0px);
}

.orange-car {
  position: absolute;
  top: 24px;
  left: -50px;
  transition: transform 10s ease-in-out;
  z-index: 99;
}

#projects-section3:hover .orange-car {
  transform: translate(1000px, 0px);
  transition-delay: 3s;
}

.police-car {
  position: relative;
  top: 28px;
  left: -50px;
  transition: transform 8s ease-in-out;
  z-index: 99;
}

#projects-section3:hover .police-car {
  transform: translate(940px, 0px);
  transition-delay: 6s;
}

.police-car-light-container {
  position: absolute;
  left: -45.2px;
  top: 15px;
  box-shadow: 0px 0px 20px 0px rgba(255, 5, 5, 0.884);
  transition: transform 8s ease-in-out;
  z-index: 99;
}

#projects-section3:hover .police-car-light-container {
  transform: translate(940px, 0px);
  transition-delay: 6s;
}

.police-car-light {
  position: relative;
  width: 2px;
  height: 2px;
  top: 13px;
  left: 12px;
  z-index: 100;
  background-color: rgb(252, 11, 11);
  box-shadow: 0px 0px 20px 0px rgba(255, 5, 5, 0.884);
  animation: police-light 1s linear infinite;
}

@keyframes police-light {
  0% {
    background-color: rgba(35, 86, 226, 0.651);
    box-shadow: 0 0 8px 5px rgba(30, 95, 235, 0.664),
      0 0 12px 5px rgb(30, 95, 235), 0 0 16px 5px rgb(30, 95, 235),
      0 0 20px 5px rgb(30, 95, 235), 0 0 24px 5px rgb(30, 95, 235);
  }
  100% {
    background-color: rgba(248, 13, 13, 0.747);
    box-shadow: 0 0 8px 3px rgba(248, 13, 13, 0.712),
      0 0 12px 3px rgb(248, 13, 13), 0 0 16px 3px rgb(248, 13, 13),
      0 0 20px 3px rgb(248, 13, 13), 0 0 24px 3px rgb(248, 13, 13);
  }
}

.red-bus {
  position: relative;
  top: 7px;
  left: 160px;
  float: right;
  transition: transform 45s ease-in-out;
  z-index: 97;
}

#projects-section3:hover .red-bus {
  transform: translate(-2140px, 0px);
}

.yellow-bus {
  position: absolute;
  top: 23px;
  left: -60px;
  transition: transform 40s ease-in-out;
  z-index: 98;
}

#projects-section3:hover .yellow-bus {
  transform: translate(2140px, 0px);
}

.blue-car {
  position: relative;
  top: 30px;
  left: 220px;
  float: right;
  transition: transform 35s ease-in-out;
  z-index: 97;
}

#projects-section3:hover .blue-car {
  transform: translate(-2140px, 0px);
  transition-delay: 8s;
}

#projects-section3:hover .blue-car {
  transform: translate(-2140px, 0px);
  transition-delay: 12s;
}

.black-car {
  position: absolute;
  top: 22px;
  left: -60px;
  transition: transform 40s ease-in-out;
  z-index: 98;
}

#projects-section3:hover .black-car {
  transform: translate(2140px, 0px);
  transition-delay: 12s;
}

.white-car2 {
  position: absolute;
  top: 24px;
  left: -60px;
  transition: transform 35s ease-in-out;
  z-index: 98;
}

#projects-section3:hover .white-car2 {
  transform: translate(2140px, 0px);
  transition-delay: 19s;
}

.taxi {
  position: relative;
  top: 30px;
  left: 370px;
  float: right;
  transition: transform 30s ease-in-out;
  z-index: 97;
}

#projects-section3:hover .taxi {
  transform: translate(-2140px, 0px);
  transition-delay: 17s;
}

.white-car {
  position: relative;
  top: 24px;
  left: 370px;
  float: right;
  transition: transform 25s ease-in-out;
  z-index: 97;
}

#projects-section3:hover .white-car {
  transform: translate(-2140px, 0px);
  transition-delay: 21s;
}

.car-s {
  position: absolute;
  top: 22px;
  left: 1670px;
  z-index: 95;
}

.car-s2 {
  position: absolute;
  top: 30px;
  left: 470px;
  z-index: 95;
}

.car-s3 {
  position: absolute;
  top: 15px;
  left: 150px;
  z-index: 95;
}

.rv-s {
  position: absolute;
  top: 0px;
  left: 1050px;
  z-index: 95;
}

.taxi-s1 {
  position: absolute;
  top: 13px;
  left: 1150px;
  z-index: 95;
}

.taxi-s2 {
  position: absolute;
  top: 13px;
  left: 750px;
  z-index: 95;
}

.taxi-s3 {
  position: absolute;
  top: 13px;
  left: 530px;
  z-index: 95;
}

/**********SIZING*************/
/**********SIZING*************/
/**********SIZING*************/

@media (max-width: 646px) {
  .project3-video {
    left: 0px;
  }

  .project3-p {
    font-size: 12px;
    top: -50px;
    width: 550px;
  }

  .link-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: -15px;
    font-size: 14px;
  }

  .project3-site {
    left: -5px;
  }

  .project3-code {
    left: 5px;
  }

  .project3-back-btn-container {
    top: -40px;
  }
}

@media (max-width: 623px) {
  .project-img-flex {
    flex-direction: column;
  }

  .project3-column {
    top: -130px;
  }

  .project1-video {
    height: 200px;
    left: 0px;
  }

  .project1-column {
    top: -0px;
  }

  .project1-h2 {
    position: relative;
  }

  .link-flex {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .project1-link {
    position: relative;
    font-size: 14px;
    left: -5px;
    color: ivory;
  }

  .project1-code {
    position: relative;
    font-size: 14px;
    left: 5px;
    color: ivory;
  }
  .project1-p {
    width: 400px;
    font-size: 12px;
    padding: 10px 10px 0 10px;
  }
  .project1-back-btn-container {
    top: 10px;
  }
}

@media (max-width: 548px) {
  .project3-video {
    left: 0px;
  }

  .project3-p {
    font-size: 12px;
    top: -50px;
    width: 490px;
  }

  .link-flex {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: -15px;
    font-size: 14px;
  }

  .project3-site {
    left: -5px;
  }

  .project3-code {
    left: 5px;
  }

  .project3-back-btn-container {
    top: -40px;
  }
}

@media (max-width: 490px) {
  .project1-video {
    width: 300px;
    height: 150px;
    left: 0px;
  }

  /**********PROJECT 3**********/
  .project3-video {
    width: 300px;
    height: 150px;
    left: 0px;
  }

  .project3-p {
    font-size: 11px;
    top: -50px;
    width: 400px;
  }
}

@media (max-width: 400px) {
  .project1-p {
    width: 300px;
    font-size: 12px;
    padding: 10px 10px 0 10px;
  }
  /**********PROJECT 3**********/
  .project3-p {
    font-size: 11px;
    top: -50px;
    width: 300px;
  }
}

@media (max-width: 310px) {
  .project1-video {
    width: 250px;
    height: 150px;
    left: 0px;
  }
  .project1-p {
    width: 270px;
    font-size: 12px;
    padding: 10px 10px 0 10px;
  }
  /**********PROJECT 3**********/
  .project3-video {
    width: 250px;
    height: 150px;
    left: 0px;
  }
  .project3-p {
    font-size: 11px;
    top: -50px;
    width: 270px;
  }
}

@media (max-height: 300px) {
  /**********PROJECT 3**********/
  .project3-video {
    display: none;
  }

  .link-flex {
    z-index: 150;
  }

  .project3-p {
    font-size: 11px;
    top: -50px;
    width: 550px;
  }
}
