@media (max-width: 2000px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  #header {
    width: 100%;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .cover1 {
    position: absolute;
    width: 100%;
    height: 150%;
    background: rgb(185, 236, 245);
    border-right: 4px solid rgb(170, 169, 169);
    transition: transform 3s ease-in-out;
    z-index: 90;
  }

  #header:hover .cover1 {
    transform: translate(-2050px, 0px);
  }

  .cloud1-container {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 10% 30%;
    transition: transform 3s ease-in-out;
    z-index: 100;
  }

  #header:hover .cloud1-container {
    transform: translate(0px, -500px);
  }

  .cloud1-line {
    position: relative;
    top: -290px;
    left: 50px;
    width: 1px;
    height: 300px;
    background: rgb(170, 169, 169);
  }

  .cloud1 {
    position: absolute;
    z-index: 100;
    top: 0px;
    filter: drop-shadow(30px 25px 15px rgba(0, 0, 0, 0.31));
  }

  .welcome {
    position: absolute;
    left: 0px;
    margin: 12% 25%;
    font-size: 135px;
    font-weight: 100;
    text-shadow: 0.9ex 0.9ex 10px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: "Playfair Display", serif;
    transition: transform 1s ease-in-out 1s;
    z-index: 100;
  }

  #header:hover .welcome {
    transform: translate(-1100px, 0px);
  }

  .cloud2-container {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 20% 50%;
    transition: transform 500ms ease-in-out 1s;
    z-index: 100;
  }

  #header:hover .cloud2-container {
    transform: translate(0px, -550px);
  }

  .cloud2-line {
    position: absolute;
    top: -400px;
    left: 85px;
    width: 1px;
    height: 405px;
    background: rgb(170, 169, 169);
  }

  .cloud2 {
    position: absolute;
    z-index: 92;
    filter: drop-shadow(30px 25px 15px rgba(0, 0, 0, 0.31));
  }

  .header-line {
    position: absolute;
    top: -1020px;
    left: 88%;
    width: 2px;
    height: 80%;
    background: rgb(196, 237, 245);
    transition: transform 2s ease-in-out;
    z-index: 93;
  }

  #header:hover .header-line {
    transform: translate(0px, 1020px);
  }

  .flex-container {
    display: flex;
    margin: 80px 0 0 0;
  }

  .header-h1 {
    position: relative;
    left: -250px;
    padding: 0px 0 0 100px;
    vertical-align: middle;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    letter-spacing: 15px;
    word-spacing: 0px;
    color: #333;
    font-weight: 600;
    flex: 3;
    transition: transform 4s ease-in-out;
  }

  #header:hover .header-h1 {
    transform: translate(250px, 0px);
  }

  .name-line {
    position: absolute;
    width: 150px;
    height: 1px;
    top: 110px;
    left: -450px;
    background: rgb(62, 213, 240);
    transition: transform 1s ease-in-out 3s;
  }

  #header:hover .name-line {
    transform: translate(550px, 0px);
  }

  .name-line2 {
    position: absolute;
    width: 2px;
    height: 30px;
    top: -80px;
    left: 494px;
    background: rgb(62, 213, 240);
    transition: transform 2s ease-in-out 1.8s;
  }

  #header:hover .name-line2 {
    transform: translate(0px, 160px);
  }

  .intro-container {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    top: -200px;
    justify-content: center;
    text-align: center;
    transition: transform 2s ease-in-out 1s;
  }

  #header:hover .intro-container {
    transform: translate(0px, 500px);
  }

  .intro-inner-container {
    width: 500px;
    margin: 0 auto;
  }

  .intro-name-square {
    position: relative;
    top: 43px;
    left: 215px;
    width: 17px;
    height: 20px;
    background-color: rgb(178, 247, 252);
  }

  .intro-name-square2 {
    position: relative;
    top: 23px;
    left: 275px;
    width: 17px;
    height: 20px;
    background-color: rgb(178, 247, 252);
  }

  .into-text {
    position: relative;
    font-size: 25px;
    color: #333;
  }

  .flex-container-row {
    display: flex;
    flex-direction: row;
    padding: 10px 100px 0 0;
  }

  .header-ul {
    position: relative;
    top: -250px;
    left: 0px;
    transition: transform 2s ease-in-out;
  }

  #header:hover .header-ul {
    transform: translate(0px, 230px);
  }

  li {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    list-style-type: none;
    margin: 30px 0px 0 0;
  }

  a {
    text-decoration: none;
    color: #333;
    font-family: "Playfair Display", serif;
    transition: transform 1s ease-in-out;
  }

  .header-a:hover {
    color: rgb(155, 231, 245);
    transition: 0.3s;
  }

  /*********************************HEADER____END***********************************/
  #section-1 {
    padding: 0px 0 0 0;
  }

  .header-cloud-border {
    position: relative;
    top: 300px;
    filter: drop-shadow(20px -10px 5px rgba(0, 0, 0, 0.11));
    z-index: 95;
  }

  .airballoon1 {
    position: relative;
    top: -1000px;
    left: 0px;
    transition: transform 4s ease-in-out;
  }

  #header:hover .airballoon1 {
    transform: translate(100px, -350px);
  }

  .airballoon2 {
    position: relative;
    top: -1310px;
    left: 1660px;
    transition: transform 3s ease-in-out;
    z-index: 98;
  }

  #header:hover .airballoon2 {
    transform: translate(-690px, 250px);
  }
}

/**************1796px********************/
/**************1796px********************/
/**************1796px********************/
/**************1796px********************/
/**************1796px********************/
/**************1796px********************/
/**************1796px********************/
/**************1796px********************/
/**************1796px********************/
@media (max-width: 1796px) {
  .welcome {
    left: 0px;
    font-size: 135px;
  }

  .cloud2-container {
    left: 120px;
  }

  .header-line {
    left: 85%;
    height: 80%;
  }

  .intro-name-square {
    top: 53px;
    left: 240px;
    width: 20px;
    height: 25px;
  }

  .intro-name-square2 {
    top: 29px;
    left: 315px;
    width: 20px;
    height: 25px;
  }

  .into-text {
    font-size: 30px;
  }

  li {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  /*********************************HEADER____END***********************************/

  .airballoon1 {
    position: relative;
    top: -1000px;
    left: 0px;
    transition: transform 4s ease-in-out;
  }

  #header:hover .airballoon1 {
    transform: translate(150px, -210px);
  }

  #header:hover .airballoon2 {
    transform: translate(-890px, 400px);
  }
}

/**************1585px********************/
/**************1585px********************/
/**************1585px********************/
/**************1585px********************/
/**************1585px********************/
/**************1585px********************/
/**************1585px********************/
/**************1585px********************/
@media (max-width: 1585px) {
  .welcome {
    left: 0px;
    font-size: 135px;
  }

  .cloud2-container {
    left: 160px;
    top: 20px;
  }

  .header-line {
    left: 85%;
    height: 80%;
  }

  .intro-name-square {
    top: 53px;
    left: 240px;
    width: 20px;
    height: 25px;
  }

  .intro-name-square2 {
    top: 29px;
    left: 315px;
    width: 20px;
    height: 25px;
  }

  .into-text {
    font-size: 30px;
  }

  .header-ul {
    left: 20px;
  }

  li {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  /*********************************HEADER____END***********************************/

  #header:hover .airballoon1 {
    transform: translate(100px, -110px);
  }

  #header:hover .airballoon2 {
    transform: translate(-1000px, 500px);
  }
}

/**************1400px********************/
/**************1400px********************/
/**************1400px********************/
/**************1400px********************/
/**************1400px********************/
/**************1400px********************/
/**************1400px********************/
/**************1400px********************/
/**************1400px********************/
@media (max-width: 1400px) {
  .welcome {
    left: 0px;
    font-size: 135px;
  }

  .cloud2-container {
    left: 160px;
    top: 40px;
  }

  .header-line {
    left: 85%;
    height: 80%;
  }

  .intro-name-square {
    top: 53px;
    left: 240px;
    width: 20px;
    height: 25px;
  }

  .intro-name-square2 {
    top: 29px;
    left: 315px;
    width: 20px;
    height: 25px;
  }

  .into-text {
    font-size: 30px;
  }

  .header-ul {
    left: 35px;
  }

  li {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  /*********************************HEADER____END***********************************/

  #header:hover .airballoon1 {
    transform: translate(80px, 30px);
  }

  #header:hover .airballoon2 {
    transform: translate(-1150px, 600px);
  }
}

/**************1250px********************/
/**************1250px********************/
/**************1250px********************/
/**************1250px********************/
/**************1250px********************/
/**************1250px********************/
/**************1250px********************/
/**************1250px********************/
@media (max-width: 1250px) {
  .welcome {
    left: 0px;
    font-size: 130px;
  }

  .cloud2-container {
    left: 165px;
    top: 50px;
  }

  .header-line {
    left: 83%;
    height: 80%;
  }

  .intro-name-square {
    top: 53px;
    left: 240px;
    width: 20px;
    height: 25px;
  }

  .intro-name-square2 {
    top: 29px;
    left: 315px;
    width: 20px;
    height: 25px;
  }

  .into-text {
    font-size: 30px;
  }

  .header-ul {
    left: 35px;
  }

  li {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  /*********************************HEADER____END***********************************/

  .airballoon1 {
    width: 250px;
  }

  #header:hover .airballoon1 {
    transform: translate(70px, 200px);
  }

  .airballoon2 {
    width: 250px;
  }

  #header:hover .airballoon2 {
    transform: translate(-1200px, 800px);
  }
}

/**************1090px********************/
/**************1090px********************/
/**************1090px********************/
/**************1090px********************/
/**************1090px********************/
/**************1090px********************/
/**************1090px********************/
@media (max-width: 1090px) {
  .welcome {
    left: 0px;
    font-size: 125px;
  }

  .cloud2-container {
    left: 175px;
    top: 70px;
  }

  .header-line {
    left: 82%;
    height: 80%;
  }

  .intro-name-square {
    top: 51px;
    left: 215px;
    width: 17px;
    height: 25px;
  }

  .intro-name-square2 {
    top: 25px;
    left: 275px;
    width: 17px;
    height: 25px;
  }

  .into-text {
    font-size: 25px;
  }

  .header-ul {
    left: 40px;
  }

  li {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  /*********************************HEADER____END***********************************/

  .airballoon1 {
    width: 200px;
  }

  #header:hover .airballoon1 {
    transform: translate(50px, 300px);
  }

  .airballoon2 {
    width: 200px;
  }

  #header:hover .airballoon2 {
    transform: translate(-1250px, 900px);
  }

  /*************FOOTER***************/
  .footer-nav {
    width: 35%;
  }

  .fa-linkedin {
    padding: 20px;
    font-size: 35px;
  }

  .fa-github-square {
    padding: 20px 0px 0 0;
    font-size: 35px;
  }

  .copyrights {
    letter-spacing: 4px;
    flex: 1;
  }
}

/**************980px********************/
/**************980px********************/
/**************980px********************/
/**************980px********************/
/**************980px********************/
/**************980px********************/
@media (max-width: 980px) {
  .welcome {
    left: -87px;
    font-size: 125px;
  }

  .cloud2-container {
    left: 160px;
    top: 70px;
  }

  .header-line {
    left: 82%;
    height: 80%;
  }

  .intro-name-square {
    top: 51px;
    left: 215px;
    width: 17px;
    height: 25px;
  }

  .intro-name-square2 {
    top: 25px;
    left: 275px;
    width: 17px;
    height: 25px;
  }

  .into-text {
    font-size: 25px;
  }

  .header-ul {
    left: 80px;
  }

  li {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  /*********************************HEADER____END***********************************/

  .airballoon1 {
    width: 250px;
    z-index: 104;
    top: -400px;
    left: -250px;
  }

  #header:hover .airballoon1 {
    transform: translate(280px, -50px);
  }

  .airballoon2 {
    display: none;
  }

  #header:hover .airballoon2 {
    transform: translate(-1300px, 1100px);
  }
}

/***************FOOTER****************/
/**************918px*************/
@media (max-width: 918px) {
  /*************FOOTER***************/
  .footer-nav {
    width: 45%;
  }

  .fa-linkedin {
    padding: 20px;
    font-size: 35px;
  }

  .fa-github-square {
    padding: 20px 0px 0 0;
    font-size: 35px;
  }

  .copyrights {
    letter-spacing: 4px;
    flex: 1;
  }
}

/**************750px********************/
/**************750px********************/
/**************750px********************/
/**************750px********************/
/**************750px********************/
/**************750px********************/
@media (max-width: 750px) {
  .welcome {
    left: -100px;
    font-size: 125px;
  }

  .cloud1-container {
    top: -10px;
  }

  .cloud2-container {
    left: 140px;
    top: 70px;
  }

  .header-line {
    display: none;
    left: 82%;
    height: 80%;
  }

  .intro-name-square {
    top: 51px;
    left: 215px;
    width: 17px;
    height: 25px;
  }

  .intro-name-square2 {
    top: 25px;
    left: 275px;
    width: 17px;
    height: 25px;
  }

  .into-text {
    font-size: 25px;
  }

  .header-ul {
    left: 50px;
  }

  li {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  /*********************************HEADER____END***********************************/

  .airballoon1 {
    width: 250px;
    z-index: 104;
    top: -400px;
    left: -240px;
  }

  #header:hover .airballoon1 {
    transform: translate(230px, -50px);
  }

  .airballoon2 {
    display: none;
  }

  #header:hover .airballoon2 {
    transform: translate(-1300px, 1100px);
  }
}

/******************730px*******************/
/******************730px*******************/
/******************730px*******************/
/******************730px*******************/
/******************730px*******************/
@media (max-width: 730px) {
  /*************FOOTER***************/
  .footer-nav {
    width: 55%;
  }

  .fa-linkedin {
    padding: 20px;
    font-size: 35px;
  }

  .fa-github-square {
    padding: 20px 0px 0 0;
    font-size: 35px;
  }

  .copyrights {
    letter-spacing: 4px;
    flex: 1;
  }
}

/**************700px********************/
/**************700px********************/
/**************700px********************/
/**************700px********************/
/**************700px********************/
/**************700px********************/
/**************700px********************/
/**************700px********************/
/**************700px********************/
@media (max-width: 700px) {
  #header {
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .welcome {
    left: -90px;
    top: 50px;
    font-size: 110px;
  }

  .cloud1-container {
    top: 30px;
    left: -10px;
  }

  .cloud2-container {
    left: 140px;
    top: 110px;
  }

  .header-line {
    display: none;
    left: 82%;
    height: 80%;
  }

  #header:hover .header-line {
    transform: translate(0px, 1020px);
  }

  .flex-container {
    display: flex;
    margin: 80px 0 0 0;
  }

  .header-h1 {
    position: relative;
    left: -270px;
    padding: 0px 0 0 100px;
    vertical-align: middle;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    letter-spacing: 15px;
    word-spacing: 0px;
    color: #333;
    font-weight: 600;
    flex: 3;
    transition: transform 4s ease-in-out;
  }

  #header:hover .header-h1 {
    transform: translate(250px, 0px);
  }

  .name-line {
    position: absolute;
    width: 150px;
    height: 1px;
    top: 110px;
    left: -450px;
    background: rgb(62, 213, 240);
    transition: transform 1s ease-in-out 3s;
  }

  #header:hover .name-line {
    transform: translate(530px, -5px);
  }

  .name-line2 {
    position: absolute;
    width: 2px;
    height: 30px;
    top: -80px;
    left: 304px;
    background: rgb(62, 213, 240);
    transition: transform 2s ease-in-out 1.8s;
  }

  #header:hover .name-line2 {
    transform: translate(-20px, 188px);
  }

  #header:hover .intro-container {
    transform: translate(0px, 600px);
  }

  .intro-name-square {
    top: 51px;
    left: 215px;
    width: 17px;
    height: 25px;
  }

  .intro-name-square2 {
    top: 25px;
    left: 275px;
    width: 17px;
    height: 25px;
  }

  .into-text {
    font-size: 25px;
  }

  .header-ul {
    left: 60px;
  }

  #header:hover .header-ul {
    transform: translate(0px, 250px);
  }

  li {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  /*********************************HEADER____END***********************************/

  .airballoon1 {
    position: relative;
    width: 200px;
    z-index: 104;
    top: -150px;
    left: -440px;
  }

  #header:hover .airballoon1 {
    transform: translate(520px, -10px);
  }

  .airballoon2 {
    display: none;
  }

  /************ABOUT SECTION**************/
  .about-icon-flex {
    position: relative;
    left: 50px;
  }
}

@media (max-width: 650px) {
  /************ABOUT SECTION**************/
  .about-icon-flex {
    position: relative;
    left: 50px;
  }
}

@media (max-width: 600px) {
  #header {
    width: 100%;
  }

  .welcome {
    left: -50px;
    font-size: 85px;
  }

  .cloud2-container {
    left: 80px;
    top: 100px;
  }

  .intro-container {
    top: -250px;
  }

  li {
    font-size: 14px;
    font-weight: 700;
  }

  #header:hover .airballoon1 {
    transform: translate(530px, 30px);
  }

  .header-cloud-border {
    position: relative;
    top: 400px;
    filter: drop-shadow(20px -10px 5px rgba(0, 0, 0, 0.11));
    z-index: 95;
  }

  /************ABOUT SECTION**************/

  .about-icon-flex {
    position: relative;
    left: 50px;
  }

  .aboutme-p {
    font-size: 17px;
    padding: 0 10px;
    font-weight: 700;
  }

  /****************FOOTER****************/
  .footer-nav {
    width: 70%;
  }
}

@media (max-width: 550px) {
  #header {
    width: 100%;
  }

  .welcome {
    left: -50px;
    font-size: 85px;
  }

  .cloud2-container {
    left: 80px;
    top: 100px;
  }

  .intro-container {
    top: -250px;
  }

  li {
    font-size: 14px;
    font-weight: 700;
  }

  #header:hover .airballoon1 {
    transform: translate(530px, 30px);
  }

  .header-cloud-border {
    position: relative;
    top: 400px;
    filter: drop-shadow(20px -10px 5px rgba(0, 0, 0, 0.11));
    z-index: 95;
  }

  /************ABOUT SECTION**************/

  .about-icon-flex {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    top: -80px;
    left: 0px;
  }

  .fa-node-js {
    top: 0px;
    left: 35px;
  }

  .fa-laptop-code {
    position: relative;
    top: 50px;
    left: -45px;
    text-shadow: 0 0 2px #fff;
  }

  /**************FOOTER**************/
  #footer-section {
    box-shadow: 0 4px 15px rgba(42, 226, 250, 0);
  }

  .footer-nav {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .welcome {
    left: -50px;
    top: 55px;
    font-size: 70px;
  }

  .cloud2-container {
    left: 50px;
    top: 100px;
  }

  .intro-inner-container {
    width: 300px;
    margin: 0 auto;
  }

  li {
    position: relative;
    left: -35px;
    font-size: 14px;
    font-weight: 700;
  }

  .into-text {
    position: relative;
    width: 300px;
    font-size: 20px;
    color: #333;
  }

  .intro-name-square {
    position: relative;
    top: 43px;
    left: 170px;
    width: 17px;
    height: 20px;
    background-color: rgb(178, 247, 252);
  }

  .intro-name-square2 {
    position: relative;
    top: 23px;
    left: 219px;
    width: 17px;
    height: 20px;
    background-color: rgb(178, 247, 252);
  }

  #header:hover .airballoon1 {
    transform: translate(450px, 60px);
  }

  .header-cloud-border {
    position: relative;
    top: 400px;
    filter: drop-shadow(20px -10px 5px rgba(0, 0, 0, 0.11));
    z-index: 95;
  }

  /************ABOUT SECTION**************/
  .about-icon-flex {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    top: -80px;
    left: 0px;
  }

  .fa-node-js {
    top: 0px;
    left: 35px;
  }

  .fa-laptop-code {
    top: 50px;
    left: -45px;
    text-shadow: 0 0 2px #fff;
  }

  /**************FOOTER**************/
  #footer-section {
    box-shadow: 0 4px 15px rgba(42, 226, 250, 0);
  }

  .footer-nav {
    width: 100%;
  }
}

@media (max-width: 446px) {
  .header-h1 {
    top: -50px;
    left: -340px;
    font-size: 15px;
    font-weight: 400;
    transition: transform 4s ease-in-out;
  }
  .name-line {
    top: 53px;
    transition: transform 1s ease-in-out 3s;
  }

  #header:hover .name-line {
    transform: translate(450px, -5px);
  }

  .name-line2 {
    top: -80px;
    left: 195px;
    transition: transform 2s ease-in-out 1.8s;
  }

  #header:hover .name-line2 {
    transform: translate(0px, 120px);
  }
  .intro-inner-container {
    width: 300px;
    margin: 0 auto;
  }

  li {
    position: relative;
    left: -60px;
    font-size: 14px;
    font-weight: 700;
  }

  .into-text {
    position: relative;
    width: 300px;
    font-size: 20px;
    color: #333;
  }
}
@media (max-width: 401px) {
  .welcome {
    left: -80px;
    font-size: 50px;
  }

  .cloud1-container {
    top: 20px;
    left: -80px;
  }
  .cloud2-container {
    left: -50px;
  }

  li {
    position: relative;
    left: -110px;
    font-size: 14px;
    font-weight: 700;
  }

  #header:hover .airballoon1 {
    transform: translate(520px, 90px);
  }
}
@media (max-width: 349px) {
  .welcome {
    left: -50px;
    font-size: 50px;
  }

  .cloud1-container {
    top: 20px;
    left: -80px;
  }
  .cloud2-container {
    left: -50px;
  }

  li {
    position: relative;
    left: -150px;
    font-size: 14px;
    font-weight: 700;
  }

  .into-text {
    position: relative;
    width: 100%;
    font-size: 17px;
    color: #333;
    padding: 0 10px;
  }

  .intro-inner-container {
    width: 100%;
    margin: 0 auto;
  }

  .intro-name-square {
    position: relative;
    top: 39px;
    left: 157px;
    width: 17px;
    height: 20px;
    background-color: rgb(153, 239, 245);
  }

  .intro-name-square2 {
    position: relative;
    top: 19px;
    left: 206px;
    width: 17px;
    height: 20px;
    background-color: rgb(178, 247, 252);
  }

  #header:hover .airballoon1 {
    transform: translate(460px, 160px);
  }
}
