#skills-section2 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgb(252, 252, 251);
}

.skills-header {
  position: relative;
  text-align: center;
  top: 200px;
  left: -10px;
  font-size: 70px;
  letter-spacing: 10px;
  color: rgb(252, 252, 251);
  z-index: 100;
}

.skills-h2 {
  position: relative;
  text-align: center;
  top: 400px;
  left: 20px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 12px;
  word-spacing: 30px;
  font-family: "Playfair Display", serif;
  color: rgb(252, 252, 251);
  top: 300px;
  z-index: 100;
}

.section2-cloud-border {
  position: absolute;
  transform: rotate(-180deg);
}

.top-cloud {
  position: relative;
  transform: rotate(180deg);
  top: -1200px;
  z-index: 99;
}

.sun {
  position: absolute;
  top: -1900px;
  left: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
  transition: transform 4s ease-in-out;
  z-index: 98;
}

#skills-section2:hover .sun {
  transform: translate(0px, 1600px);
}

.section-2-header {
  text-align: center;
  color: rgb(128, 229, 247);
}

.section2-ul {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.section2-nav {
  position: absolute;
  top: 40px;
  width: 1%;
  margin: 22.3% 2%;
  z-index: 100;
}

.fas {
  font-size: 20px;
}

.color-sec2 {
  color: rgb(104, 247, 38);
}

.about-landscape {
  position: relative;
  top: -500px;
  transition: transform 1s ease-in-out;
  z-index: 98;
}

#skills-section2:hover .about-landscape {
  transform: translate(0px, -510px);
}

/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/

/**************3440 × 1440******************/
@media only screen and (max-width: 3445px) and (min-width: 3385px) and (max-height: 1442px) and (min-width: 1438px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 450px;
    left: -10px;
    font-size: 75px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 680px;
    left: 20px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -2050px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -3250px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 2700px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -500px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -1455px);
  }
}
/**************2960 × 1440******************/
@media only screen and (max-width: 2962px) and (min-width: 2958px) and (max-height: 1442px) and (min-height: 1438px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 450px;
    left: -10px;
    font-size: 75px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 520px;
    left: 20px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1750px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -2760px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 2300px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -500px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -1155px);
  }
}
/**************2560 × 1600******************/
@media only screen and (max-width: 2562px) and (min-width: 2558px) and (max-height: 1602px) and (min-height: 1598px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 500px;
    left: -10px;
    font-size: 75px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 620px;
    left: 20px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1650px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -2460px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 2300px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -500px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -625px);
  }
}

/**************2560 × 1440******************/
@media only screen and (max-width: 2562px) and (min-width: 2558px) and (max-height: 1442px) and (min-height: 1438px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 400px;
    left: -10px;
    font-size: 75px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 550px;
    left: 20px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1650px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -2460px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 2200px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -500px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -790px);
  }
}

/**************2048 × 1536******************/
@media only screen and (max-width: 2050px) and (min-width: 2046px) and (max-height: 1538px) and (min-height: 1534px) {
  .skills-header {
    position: relative;
    text-align: center;
    top: 400px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 700px;
    left: 20px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .top-cloud {
    top: -1200px;
  }

  .sun {
    position: absolute;
    top: -1920px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 2000px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -180px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -485px);
  }
}
/**************1920 × 1440******************/
@media only screen and (max-width: 1922px) and (min-width: 1918px) and (max-height: 1442px) and (min-height: 1438px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 500px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 700px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1200px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 2000px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -150px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -475px);
  }
}

/***********************1920px X 1200px************************/
@media only screen and (max-width: 1922px) and (min-width: 1918px) and (max-height: 1202px) and (min-height: 1198px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 450px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 550px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1200px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1850px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -250px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -580px);
  }
}
/***********************1920px X 1080px************************/
@media only screen and (max-width: 1922px) and (min-width: 1918px) and (max-height: 1082px) and (min-height: 1078px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 200px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 400px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    top: 300px;
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1200px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1600px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -500px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -480px);
  }
}

/**************1856 × 1392*******************/
@media only screen and (max-width: 1858px) and (min-width: 1854px) and (max-height: 1394px) and (min-height: 1388px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 400px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 600px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1100px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 2010px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: 0px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -610px);
  }
}
/***********************1680px X 1050px************************/
@media only screen and (max-width: 1682px) and (min-width: 1678px) and (max-height: 1052px) and (min-height: 1048px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 200px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 420px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    top: 300px;
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1050px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1750px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -380px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -390px);
  }
}

/***********************1600px X 1200px************************/
@media only screen and (max-width: 1602px) and (min-width: 1598px) and (max-height: 1202px) and (min-height: 1198px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 350px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 550px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1000px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1950px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -150px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -390px);
  }
}
/***********************1600px X 900px************************/
@media only screen and (max-width: 1602px) and (min-width: 1598px) and (max-height: 902px) and (min-height: 898px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 200px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 420px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    top: 300px;
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1050px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1750px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -450px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -390px);
  }
}
/***********************1536px X 864px************************/
@media only screen and (max-width: 1538px) and (min-width: 1534px) and (max-height: 866px) and (min-height: 862px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 200px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 420px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    top: 300px;
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1000px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1750px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -450px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -365px);
  }
}

/***********************1440px X 1080px************************/
@media only screen and (max-width: 1442px) and (min-width: 1438px) and (max-height: 1082px) and (min-height: 1078px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 380px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 460px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -900px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1700px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1820px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -150px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -355px);
  }
}
/***********************1440px X 900px************************/
@media only screen and (max-width: 1442px) and (min-width: 1438px) and (max-height: 902px) and (min-height: 898px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 250px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 290px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -950px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1820px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -350px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -340px);
  }
}

/***********************1400px X 1050px************************/
@media only screen and (max-width: 1402px) and (min-width: 1398px) and (max-height: 1052px) and (min-height: 1048px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 280px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 380px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -880px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1750px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1820px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -150px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -355px);
  }
}
/***********************1366px X 768px************************/
@media only screen and (max-width: 1368px) and (min-width: 1364px) and (max-height: 770px) and (min-height: 766px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 180px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 280px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -950px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1850px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -300px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -345px);
  }
}

/***********************1280px X 960px************************/
@media only screen and (max-width: 1282px) and (min-width: 1278px) and (max-height: 962px) and (min-height: 958px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 280px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 380px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -850px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1350px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1450px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -100px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -370px);
  }
}
/***********************1280px X 800px************************/
@media only screen and (max-width: 1282px) and (min-width: 1278px) and (max-height: 802px) and (min-height: 798px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 180px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 280px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -870px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1500px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1450px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -300px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -330px);
  }
}
/***********************1280px X 720px************************/
@media only screen and (max-width: 1282px) and (min-width: 1278px) and (max-height: 722px) and (min-height: 718px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 180px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 280px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -820px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1500px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1450px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -300px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -370px);
  }
}

/***********************1152px X 648px************************/
@media only screen and (max-width: 1154px) and (min-width: 1150px) and (max-height: 650px) and (min-height: 646px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 110px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 180px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -800px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1550px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1450px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -300px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -355px);
  }
}

/**************1024 × 768*******************/
@media only screen and (max-width: 1026px) and (min-width: 1022px) and (max-height: 770px) and (min-height: 766px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 210px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 300px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 10px;
    word-spacing: 20px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -650px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1380px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1450px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -100px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -300px);
  }
}

/**************768 × 1024*******************/
@media only screen and (max-width: 770px) and (min-width: 766px) and (max-height: 1026px) and (min-height: 1022px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 480px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    left: -2px;
    top: 680px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 10px;
    word-spacing: 8px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -650px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1380px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1650px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: 500px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -380px);
  }
}

/**************1024 × 600*******************/
@media only screen and (max-width: 1026px) and (min-width: 1022px) and (max-height: 602px) and (min-height: 598px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 210px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 300px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 10px;
    word-spacing: 20px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -650px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1380px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1450px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -100px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -350px);
  }
}

/**************1024 × 576*******************/
@media only screen and (max-width: 1026px) and (min-width: 1022px) and (max-height: 578px) and (min-height: 574px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 100px;
    left: 0px;
    font-size: 50px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 150px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 10px;
    word-spacing: 20px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -700px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1580px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1450px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -100px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -455px);
  }
}
