#skills-section2 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgb(252, 252, 251);
}

.skills-header {
  position: relative;
  text-align: center;
  top: 200px;
  left: -10px;
  font-size: 70px;
  letter-spacing: 10px;
  color: rgb(252, 252, 251);
  z-index: 100;
}

.skills-h2 {
  position: relative;
  text-align: center;
  top: 400px;
  left: 20px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 12px;
  word-spacing: 30px;
  font-family: "Playfair Display", serif;
  color: rgb(252, 252, 251);
  top: 300px;
  z-index: 100;
}

.section2-cloud-border {
  position: absolute;
  transform: rotate(-180deg);
}

.top-cloud {
  position: relative;
  transform: rotate(180deg);
  top: -1200px;
  z-index: 99;
}

.sun {
  position: absolute;
  top: -1900px;
  left: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
  transition: transform 4s ease-in-out;
  z-index: 98;
}

#skills-section2:hover .sun {
  transform: translate(0px, 1600px);
}

.section-2-header {
  text-align: center;
  color: rgb(128, 229, 247);
}

.section2-ul {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.section2-nav {
  position: absolute;
  top: 40px;
  width: 1%;
  margin: 22.3% 2%;
  z-index: 100;
}

.fas {
  font-size: 20px;
}

.color-sec2 {
  color: rgb(104, 247, 38);
}

.about-landscape {
  position: relative;
  top: -500px;
  transition: transform 1s ease-in-out;
  z-index: 98;
}

#skills-section2:hover .about-landscape {
  transform: translate(0px, -510px);
}

/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/********************MEDIA-SIZING******************/
/***********************1920px X 1080px************************/
@media only screen and (width: 1920px) and (height: 1080px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 200px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 400px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    top: 300px;
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1200px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1600px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -500px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -510px);
  }
}

/***********************1600px X 900px************************/
@media only screen and (width: 1600px) and (height: 900px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 200px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 420px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    top: 300px;
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1200px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1750px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -450px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -420px);
  }
}
/***********************1536px X 864px************************/
@media only screen and (width: 1536px) and (height: 864px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 200px;
    left: -10px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 420px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    top: 300px;
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1200px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1750px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -450px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -385px);
  }
}
/***********************1440px X 900px************************/
@media only screen and (width: 1440px) and (height: 900px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 180px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 260px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -1000px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1820px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -350px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -355px);
  }
}
/***********************1366px X 768px************************/
@media only screen and (width: 1366px) and (height: 768px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 180px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 280px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -950px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1900px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1850px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -300px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -345px);
  }
}
/***********************1280px X 800px************************/
@media only screen and (width: 1280px) and (height: 800px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 180px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 280px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -870px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1500px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1450px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -300px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -345px);
  }
}
/***********************1280px X 720px************************/
@media only screen and (width: 1280px) and (height: 720px) {
  #skills-section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(252, 252, 251);
  }

  .skills-header {
    position: relative;
    text-align: center;
    top: 180px;
    left: 0px;
    font-size: 70px;
    letter-spacing: 10px;
    color: rgb(252, 252, 251);
    font-family: "Playfair Display", serif;
    z-index: 100;
  }

  .skills-h2 {
    position: relative;
    text-align: center;
    top: 280px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;
    word-spacing: 30px;
    font-family: "Playfair Display", serif;
    color: rgb(252, 252, 251);
    z-index: 100;
  }

  .section2-cloud-border {
    position: absolute;
    transform: rotate(-180deg);
  }

  .top-cloud {
    position: relative;
    transform: rotate(180deg);
    top: -870px;
    z-index: 99;
  }

  .sun {
    position: absolute;
    top: -1500px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(252, 252, 251) inset;
    transition: transform 4s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .sun {
    transform: translate(0px, 1450px);
  }

  .section-2-header {
    text-align: center;
    color: rgb(128, 229, 247);
  }

  .section2-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .section2-nav {
    position: absolute;
    top: 40px;
    width: 1%;
    margin: 22.3% 2%;
    z-index: 100;
  }

  .fas {
    font-size: 20px;
  }

  .color-sec2 {
    color: rgb(104, 247, 38);
  }

  .about-landscape {
    position: relative;
    top: -300px;
    transition: transform 1s ease-in-out;
    z-index: 98;
  }

  #skills-section2:hover .about-landscape {
    transform: translate(0px, -370px);
  }
}
